#title{
    margin: auto;
    width: 50%;
    text-align: center;
    margin-bottom: 50px;
}

#div1{
    float:left;
    height: 100px;
    width: 300px;
    font-weight: bold;
}
#div2{
    float:left;
    height: 100px;
    width: 300px;
    font-weight: bold;
}
#div3{
    float:left;
    height: 100px;
    width: 300px;
    font-weight: bold;
}
#div4{
    float:left;
    height: 100px;
    width: 300px;
    font-weight: bold;
}
#div5{
   float: right;
   border: 3px solid black;
   margin-top: 50px;
}
#div6{
    float: left;
    border: 3px solid black;
}

#div7{
    float: left;
    border-bottom: 3px solid black;
    margin-top: 30px;
}


#div8{
    float: left;
    border-bottom: 3px solid black;
    margin-top: 30px;
}